{% extends 'admin.html.twig' %}
{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('css/admin/index.css') }}">
{% endblock %}
{% block javascripts %}
    <script type="text/javascript" src="{{ asset('js/jquery.uploadifive.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('js/tinymce/tinymce.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('js/tinymce/langs/ru.js') }}"></script>
    <script type="text/javascript" src="{{ asset('js/admin/index.js') }}"></script>
{% endblock %}


{% block content %}
    <input type="hidden" id="page" value="{{ currentPage.link }}">
    <input type="hidden" id="imagePath" value="{{ imagePath }}">
    <div>
        Страница
        <select id="page-select" title="">
            {% for page in pages %}
                <option value="{{ page.link }}" {{ page.link == currentPage.link ? 'selected' : '' }}>
                    {{ page.link }}
                </option>
            {% endfor %}
        </select>

        <div>
            <div id="load_button"></div>
            <div id="queue"></div>
        </div>
        <div id="files"></div>
        <div class="clear"></div>

        <p>
            Для того, чтобы вставить картинку нужно ввести код по следующему шаблону $$$имя_файла%%%.
            Например, $$$123456.png%%%.
        </p>
        <form method="post">
            <input type="hidden" name="act" value="text">
            <textarea name="text" id="editor" cols="30" rows="10" title="">{{ currentPage.text }}</textarea>
            <input type="submit" value="Сохранить">
        </form>
    </div>
{% endblock %}
